@font-face {
  font-family: Moz;
  src: url("../fonts/MozTT-Medium.ttf");
}

body {
  margin: 0px;
}

.header {
  margin: 0px;
  height:15vh;
  text-align: center;
  font-size:  6vmin;
  font-family: Moz;
}

.header-bg {
  position: absolute;
  z-index: -1;
  margin: 0px;
  height:15vh;
  border-bottom: 50px solid transparent;
}

.header-bg-current {
  border-right: 100vw solid #FF9500;
}

.header-bg-past {
  border-right: 100vw solid #00539F;
}

.header-bg-future {
  border-right: 100vw solid #002147;
}

.header div {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  margin-top: 3vmin;
}

.title-light {
  color: #EAEFF2;
}

.subtitle {
  font-size: 3vmin;
  margin-left: -30vmin;
  padding-top: 10vmin;
}

.announcement {
  font-size: 1.5vmin;
  margin-top: 6vmin;
  padding: 1vmin 0;
  border: 3px solid orange;
  text-align: center;
}

#content {
  height: 67vh;
  padding-top: 3vh;
  text-align: center;
}

.bugcount {
  display: inline-block;
  padding: 1vw;
}

.bugcount h2 {
  font-size: 3vw;
  font-weight: inherit;
  width: 12ch;
}
.bugcount .data {
  font-size: 3vw;
  display: inline-block;
}

.greyedout {
  color: #D4DDE4;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: highlight;
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  left: 0px;
  height: 4vh;
  padding-top: 2vh;
  font-family: Moz;
  font-size: 2vmin;
  text-align: center;
}

#footer a{
  padding-top: 1vmin;
  padding-left: 3vmin;
  padding-right: 3vmin;
}

.footer-current {
  background-color: #FF9500;
}

.footer-past {
  background-color: #00539F;
  color: #EAEFF2;
}

.footer-future {
  background-color: #002147;
  color: #EAEFF2;
}
